{% extends 'main.html' %}

{% block content %}
  <h1>Addalaichenai - 09</h1>
  <form action="/gettab" method="POST">
    <div class="d-flex gap-3 align-items-end">
    <input id="nic" name="nic" class="form-control" placeholder="Enter your NIC Number"> <br>
      <button type="submit" class="btn btn-primary hh_ref_check" >Submit</button>
    </div>
    </form>
  </div>


<div class="row justify-content-center align-items-center g-2 " style="flex">
  <div class = "container-sm" style="width:auto">
    <div style="display:flex; justify-content:center;">
    <h5>House Number:  <span id="hn"> {{ HS_num }}</span></h5>
    </div>
    {{ tables|safe }}
  </div>
</div>

{% endblock %}